# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# OS files
.DS_Store
Thumbs.db

# Lock files
*.lock
